{% extends "core/base.html" %}
{% load i18n static %}

<!-- Title -->
{% block title %}{% translate 'Download' %}{% endblock title %}

<!-- Menu -->
{% block menu %}{% endblock menu %}

{% block extra_head %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_head %}

<!-- Content -->
{% block content %}
    <div class="flex flex-col justify-center items-center min-h-screen bg-gradient-to-l from-gray-100 via-blue-50 to-gray-100 p-2">
 
        {% if not youtube_download %}
            <div 
                class="max-w-2xl w-full py-4 px-3 shadow border border-white border-opacity-5 rounded-lg bg-white overflow-hidden"
            >
                <p class="text-2xl sm:text-3xl text-center uppercase py-2">
                    {% translate "This file was removed"%}
                </p>

                <hr class="w-full">
                
                <img src="{% static 'telegram/_img/player/not_found.jpg' %}">
            </div>
        {% else %}
            <script src="{% static 'telegram/_js/player/audio.js' %}" defer></script>
            <div 
                class="max-w-2xl w-full shadow border border-white border-opacity-5 rounded-lg bg-white overflow-hidden"
            >
                <h1 
                    class="text-center text-xl font-bold px-4 py-6 bg-stone-300 overflow-hidden"
                >
                    {{ youtube_download.title }}
                </h1>

                <div id="player" class="select-none">
                    <audio 
                        autobuffer 
                        type="audio/mpeg"
                        src="{% url 'telegram:download' id=id %}"
                        id="audio"
                    ></audio>

                    <div class="w-full flex flex-row items-center">
                        <button 
                            id="play-pause-button"
                            class="px-2 py-1 w-10 text-center"
                        >
                            <i class="fa-solid fa-play"></i>
                        </button>
    
                        <div id="progress-container" class="w-full h-2.5 bg-gray-200 cursor-pointer rounded-full overflow-hidden">
                            <span id="progress-container__bar" class="table h-full bg-orange-500"></span>
                        </div>

                        <div id="timer" class="flex flex-row flex-nowrap px-2">
                            <span id="timer__current-time" class="whitespace-nowrap">00:00</span>/
                            <span id="timer__total-time" class="whitespace-nowrap">--:--</span>
                        </div>
                    </div>
                </div>
            </div>

            <p class="text-center text-red-700 mt-8">
                {% blocktranslate trimmed %}
                    This is a temporary link, it will be removed on a few days
                {% endblocktranslate %}
            </p>

            <a 
                download
                href="{% url 'telegram:download' id=id %}"
                class="btn btn-primary mx-auto my-4 shadow"
            >   
                <i class="fa-solid fa-download"></i>
                {% translate "Download"%}
            </a>

        {% endif %}

    </div>
{% endblock content %}

<!-- Footer -->
{% block footer %}{% endblock footer %}