# Enviroment file
**/.env

# IDE directories 
**/.idea
**/.vscode


# Virtual env
**/venv
**/env

# Python cache directory
**/__pycache__

# Staticfiles directory created by the command 'python manage.py collectstatic --noinput'
**/staticfiles

# Sqlite
**/*.sqlite3

# NodeJs
**/node_modules
**/package-lock.json

# Tailwind
**/tailwind/**/output.css

# Webpack
**/_js/**/bundled
