{% extends 'core/base.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}  
    <script src="{% static 'users/_js/index.js' %}" defer></script>
    <script src="{% static 'core/_js/observed.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div 
        id="view-1"
        class="min-h-[var(--screen-height)] relative flex justify-center items-center xl:items-end flex-col overflow-hidden"
    >
        <video
            id="view-1__background-video" autoplay loop muted playsinline preload
            class="absolute top-0 h-full w-full object-cover" style="object-position: 32% 0;"
        >
            <source 
                media="(min-width: 1200px)"
                src="{% static 'users/_video/index/background.mp4' %}"
                type="video/mp4"
            />

            <source 
                src="{% static 'users/_video/index/background_resized.mp4' %}"
                type="video/mp4"
            />

            
            <track 
                kind="descriptions" 
                srclang="en"
                src="{% static 'users/_video/index/en_descriptions.vtt' %}"
            >

            <track 
                kind="captions" 
                srclang="en"
                src="{% static 'users/_video/index/en_captions.vtt' %}"
            >
        </video>

        <div class="bg-black bg-opacity-50 max-w-md w-11/12 m-4 p-4 rounded-md xl:mr-40 xl:-mt-60 relative animate-fadeIn-bottom xl:animate-fadeIn-right">
            <p class="text-center text-white text-shadow text-xl [&>strong]:uppercase [&>strong]:text-blue-400">
                {% blocktranslate trimmed %}
                    Shock, trauma, anxiety disorders and other types of stress can be overcome through <strong>Somatic Experiencing &reg;</strong>
                {% endblocktranslate %}
            </p>
            
            <button id="scroll_button_1" class="btn btn-primary mx-auto mt-4 mb-2 ">
                {% translate "Read more" %}
            </button>

        </div>

    </div>

    <div 
        id="view-2"
        class="min-h-[var(--screen-height)] relative overflow-hidden"
    >
        <h1 class="mt-10">
            <strong class="block text-center text-4xl font-black bg-clip-text text-transparent bg-gradient-to-r from-sky-400 to-teal-800 sm:text-5xl">
                {% translate 'Dr.' %} Wandecleide Fernandes
            </strong>
            <span class="block text-center text-2xl text-gray-500">
                {% translate 'PhD in Public Health' %}
            </span>
        </h1>


        <div class="flex flex-col justify-between items-center w-11/12 max-w-5xl mx-auto mt-12 lg:flex-row">
            <img 
                id="view-2__img"
                src="{% static 'users/_img/index/myself.webp' %}"
                alt="{% translate 'Myself picture' %}"
                class="sm:animate-fadeIn observed"
            />

            <div>
                <div 
                class="max-w-md shadow p-4 border border-gray-200 rounded-md my-6 mx-2 sm:animate-fadeIn-right sm:animation-delay-600 observed"
                >
                    <p class="text-justify">
                        {% blocktranslate trimmed %}
                            I am a Nurse and Therapist, with a PhD in Public Health. I searched for the best courses in Brazil and abroad with the aim of helping my clients to lead a more harmonious and well-being life.
                        {% endblocktranslate %}
                    </p>

                    <a href="{% url 'users:about' %}" class="btn btn-light mx-auto mt-2 relative z-10 w-40">
                        {% translate "About myself" %}
                    </a>
                </div>

                <div 
                    class="max-w-md shadow p-4 border border-gray-200 rounded-md my-6 mx-2 sm:animate-fadeIn-right sm:animation-delay-1200 observed"
                >
                    
                    <p class="text-justify">
                        {% blocktranslate trimmed %}
                            My experience is focused on treating stress, trauma, phobias and anxiety disorders, for adults and seniors.
                        {% endblocktranslate %}
                    </p>

                    <a href="{% url 'users:my-work' %}" class="btn btn-light mx-auto mt-2 relative z-10 w-40">
                        {% translate "My work" %}
                    </a>
                
                </div>
            </div>
        </div>
    </div>

{% endblock content %}