{% extends 'core/base.html' %}
{% load static i18n %}

{% block extra_head %}
	<script src="{% static 'core/_js/messages/delete_alert.js' %}" defer></script>
{% endblock %}

{% block menu %}{% endblock menu %}

{% block content %}
	<div class="min-h-screen flex justify-center items-center">
		<form method="post" class="form">
			{% csrf_token %}
	
			{% for error in form.non_field_errors %}
				{% include "core/components/messages/danger.html" with message=error %}
			{% endfor %}

			{% for field in form %}
				<label class="form-label text-gray-700" >
					{{ field.label|striptags }}
				</label>

				{{ field }}

				{% if field.errors %}
					<small class="field-error">{{ field.errors|striptags }}</small> 
				{% endif %}
				
			{% endfor %}

			<button type="submit" class="btn btn-primary table mx-auto mt-4">Entrar</button>
		</form>
	</div>
{% endblock content %}

{% block footer %}{% endblock footer %}