{% extends "core/base.html" %}
{% load static i18n %}

{% block title %}404{% endblock %}
{% block menu %}{% endblock menu %}

{% block extra_head %}
    <style>
        @keyframes moveclouds {
            0% {margin-left: 1000px;}
            100% {margin-left: -1000px;}
        }

        @media only screen and (max-width: 600px) {
            @keyframes moveclouds {
                0% {margin-left: 300px;}
                100% {margin-left: -300px;}
            }
    }

        #clouds > div 
        {
            animation-name: moveclouds;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        #clouds > div:nth-of-type(1){animation-duration: 35s;}
        #clouds > div:nth-of-type(2){animation-duration: 17s;}
        #clouds > div:nth-of-type(3){animation-duration: 25s;}
        #clouds > div:nth-of-type(4){animation-duration: 34s;}
        #clouds > div:nth-of-type(5){animation-duration: 22s;}
        #clouds > div:nth-of-type(6){animation-duration: 48s;}

    </style>
{% endblock extra_head %}

{% block content %}
    <div class="relative min-h-screen overflow-hidden flex items-center justify-center bg-blue-400">
        <div 
            id="clouds"
            class="absolute top-0 bottom-0 w-full overflow-hidden

            [&>div]:absolute [&>div]:h-16 [&>div]:w-48 [&>div]:bg-white [&>div]:rounded-full [&>div]:transition-all [&>div]:ease-in [&>div]:duration-1000
            
            [&>div]:before:w-14 [&>div]:before:h-14 [&>div]:before:bg-white [&>div]:before:absolute [&>div]:before:left-9 [&>div]:before:-top-7 [&>div]:before:rounded-full

            [&>div]:after:w-20 [&>div]:after:h-20 [&>div]:after:bg-white [&>div]:after:absolute [&>div]:after:right-8 [&>div]:after:-top-12 [&>div]:after:rounded-full
            "
        >
            <!-- Top clouds -->
            <div class="scale-50 opacity-80 top-12 left-24"></div>
            <div class="scale-105 opacity-30 top-40 left-40"></div>
            <div class="opacity-90 scale-75 top-16 left-1/4"></div>

            <!-- Bottom clouds -->
            <div class="opacity-80 scale-90 left-16 bottom-36"></div>
            <div class="opacity-90 bottom-6 left-1/2"></div>
            <div class="scale-50 opacity-50 left-48 bottom-5 z-10"></div>
        </div>
        <div class="text-center text-white uppercase max-w-sm w-11/12">
            <h1 class="text-8xl sm:text-9xl border-b-4 border-white">
                404
            </h1>

            <div class="text-2xl px-4 mt-4">
                {% translate "Page not found" %}
            </div>

            <a href="/" class="btn btn-danger my-4 mx-auto">
                {% translate "Back to start"%}
            </a>
        </div>
    </div>
{% endblock content %}

