{% extends "core/base.html" %}
{% load static i18n %}

{% block title %}500{% endblock %}
{% block menu %}{% endblock menu %}


{% block content %}
    <div class="min-h-screen flex flex-col justify-center items-center max-w-lg mx-auto">
        <h1 class="text-5xl sm:text-7xl text-center font-semibold font-sans text-gray-600 ">
            500
        </h1>
        
        <p class="text-center text-xl text-gray-600 m-4">
            Woops! <br>{% translate 'Something went wrong' %} :(
        </p>
        
        <p class="text-center text-xl text-gray-600 mt-4"> 
            {% blocktranslate trimmed %}
                Don't worry, an error report has been sent to our team, we will resolve the issue shortly.
            {% endblocktranslate %}
        </p>
    </div>
{% endblock content %}